body{
    background: url('img/fondoBody.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover; /*Safari y Chrome*/
    -moz-background-size: cover; /*Firefox*/
    -o-background-size: cover; /*Opera*/
    background-size: cover;
}

#padre{
    width: 400px;
    opacity: 0.9;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid rgb(129, 129, 129);
    box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(250, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.17) 0px 12px 13px, rgba(247, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 10%;

}


#padre img{
    width: 10px;
    height: 10px;
}

#indicadores{
    border: 2px solid rgb(0, 0, 0);
    background-color: #D8D8D8;
}

#indicadores label{
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
}

#intentosPrev{
    border: 2px solid rgb(0, 0, 0);
    background-color: #D8D8D8;
    height: 250px;
}

p{
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
}

input[type='text']{
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
}
/*
input[type='button']{
    margin-left: 15px;
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
    
}
*/

input[type='button'] {
    margin-left: 15px;
    border: solid 1px #ecf0f1;
    border-radius: 50%;
    background: none;
    font-size: 17px;
    height: 30px;
    font-weight: bolder;
    width: 30px;
    color:darkblue;
}


#intentosNext{
    background-color:rgba(255, 0, 0,.5);
    margin-top: 1.4em;
    margin-right: .7em;
    margin-bottom: .7em;
    padding-bottom: 1em;
}

#intentosNext img{
    width: 30px;
    height: 30px;
}

.firstImgUp{
    margin-left: -50px;
}

.cajaIntentos{
    text-align: center;
    background-color: rgb(148, 148, 148);
    height: 50px;
    border: 1px solid black;
    margin-bottom: 1em;
}

.cajaIntentos input[type='text']{
    margin: .5em 1em;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
}

input{
    text-align: center;
    font-weight: bolder;
}

.colorVerde{
    background-color: rgb(0, 255, 30);
}

.colorAmarillo{
    background-color: rgb(255, 247, 0);
}

.colorRojo{
    background-color: rgb(255, 0, 0);
}

#capa{
	width: 100%;
	height: 100%;
    position: fixed;
    top: 0;
    left: 0;
	background-color: grey;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#myvideo{
    display: none;
}