body{

    background: url('img/menu.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover; /*Safari y Chrome*/
    -moz-background-size: cover; /*Firefox*/
    -o-background-size: cover; /*Opera*/
    background-size: cover;
  
}

#contenedor{
    background-color: black;
    opacity: 0.5;
    margin-top: 37em !important;
    box-shadow: rgba(77, 76, 76, 0.76) 0px 22px 70px 4px;
}

h1{
    color: white;
    text-align: center;
    font-size: 5em;
    font-family: 'Caveat', cursive;
}

a{
    color: #3E3E3E;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #EEEEEE;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    font-family: 'Caveat', cursive;
    font-size: 2.8em;
    color:#000000;
}

a:hover{
    text-decoration: none;
    color: #3E3E3E;
}

@media only screen and (orientation:portrait) {
    #contenedor{
        margin-top: 12em !important;
        
    }

    h1{
        font-size: 3em;
        color: rgb(255, 255, 255);
    }

    body{
        background: url('img/menuVertical.jpg') no-repeat center center fixed; 
    }

    
}

/* iPhone 6/7/8 Plus  */
@media (max-height: 414px) and (orientation: landscape){
    #contenedor{
        margin-top: 16em !important;
    }

    h1{
        display: none;
    }
	
}


/* iPhone 6/7/8 */
@media (max-height: 375px) and (orientation: landscape){

    #contenedor{
        margin-top: 16em !important;
    }

    h1{
        display: none;
    }
}

/* iPhone 5/SE */
@media (max-height: 320px) and (orientation: landscape){
    #contenedor{
        margin-top: 16em !important;
    }

    h1{
        display: none;
    }
    
}
